@import "../../assets/style/app";

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  img {
    height: 25vw;
    width: 100%;
    object-fit: cover;
  }
}